.form-info {
    padding: 54px 23px 10px 23px;
}

.form-info__text {
    margin: 0;
    color: #283645;    
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.form-info__additional-text {
    display: none;
}

@include media-tablet {
    .form-info {
        padding: 100px 85px 10px 85px;
    }

    .form-info__text {   
        font-size: 18px;        
    }

    .form-info__additional-text {
         display: inline;
    }
}

@include media-laptop {
    .form-info {
        padding: 100px 220px 10px 220px;
    }
}
