.header {
    position: relative;
    width: 100%;   
    z-index: 3; 
}

@include media-laptop {
    .header {
        min-height: 110px;
        background-color: rgba($color: $maincolor, $alpha: 0.3);
    }
    .header .container {
        display: flex;
        justify-content: space-around;                
    }
}