.header {
    width: 100%;
}

@include media-laptop {
    .header {
        display: flex;
        justify-content: space-around;
        min-height: 110px;
        background-color: rgba($color: $maincolor, $alpha: 0.3);
        
    }
}