.logo {        
    padding: 22px 20px 25px;
    cursor: pointer;
    &__img {
        width: 75px;
        height: 22px;
    }    
}

.footer--secondary-page .logo__img {
    width: 147px;
    height: 40px;    
}

@include media-tablet {
    .logo {        
        padding: 27px 40px 42px;
        cursor: pointer;
        &__img {
            width: 147px;
            height: 40px;
        }    
    }
}